* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.25%;
}
/* This sets the root font-size to ~10 pixels for the document  */

body {
  font-size: 1.6rem;
}
/* changes the font size to 16 pixels  */

a {
  text-decoration: none;
}
html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
}

.header {
  text-align: center;
}

.container {
  position: absolute;
  display: flex;
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: hidden;
}

.content__container {
  position: relative;
  border: solid;
  height: auto;
  width: 50%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.highlighted {
  width: 100%;
  flex-direction: column;
}


.content__card {
  position: relative;
  border: solid;
  height: 29%;
  width: 24%;
  margin: 4%;
  text-align: center;
}


.image__container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#highlighted {
  margin: 4%;
  border: solid;
  height: 50%;
  width: 90%;
}

.highlightInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner__entry {
  margin-left: 40px;
}

@media only screen and (max-width: 1200px) {
  .content__card {
    height: 29%;
    width: 40%;
    margin-bottom: 15%;
  }
}
@media only screen and (max-width: 850px) {
  .content__card {
    height: 40%;
    width: 100%;
  }
}

